<li class="nav-item <%= active?(posts_path)%>">
  <%= link_to "Entries", posts_path , class:"nav-link "%>
</li>

<li class="nav-item <%= active?(posts_path)%>">
  <%= link_to "Request Overtime", new_post_path , class:"nav-link" , id:"new_post_from_nav"%>
</li>
