<h1>Posts</h1>
<table class="table">
  <thead>
    <tr>
      <th>Hours</th>
      <th>Date</th>
      <th class="hidden-xs-down">Rationale</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="posts">

    <%= render @posts %>

  </tbody>
</table>
<div id="paginator">
  <%= paginate @posts , theme: 'twitter-bootstrap-4', remote: true %>
</div>
